body{
  font-family: sans-serif;
  background-color: rgb(13, 13, 36);
  color: white;
  text-align: center;
  border: 33px solid rgb(0, 136, 125);
  border-top: 0px;
  margin: 0px;
}

p{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  font-size: 1.5em;
  margin-bottom: 10px;
}

#sub{
  background-color: rgb(184, 158, 15);
  width: 150px;
  height: 50px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1.5em;
  border-radius: 15px;
}